/* Drunk Cats */
@keyframes kittyshake {
  0% {
    transform: rotate(0deg); }

  50% {
    transform: rotate(30deg); }

  100% {
    transform: rotate(0deg); } }

.drunkcats {
  height: 300px;
  width: 300px;
  background: url('../img/drunkcats.png') center no-repeat;
  background-size: contain;
  position: absolute;
  z-index: 5;
  display: none;
  animation: kittyshake 1s ease infinite; }
