/* Base Styling */
/* Fonts */
@font-face {
  font-family: 'OpenSansLight';
  src: url('fonts/OpenSans-Light-webfont.eot');
  src: url('fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/OpenSans-Light-webfont.woff') format('woff'), url('fonts/OpenSans-Light-webfont.ttf') format('truetype'), url('fonts/OpenSans-Light-webfont.svg#OpenSansLight') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'OpenSansLightItalic';
  src: url('fonts/OpenSans-LightItalic-webfont.eot');
  src: url('fonts/OpenSans-LightItalic-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/OpenSans-LightItalic-webfont.woff') format('woff'), url('fonts/OpenSans-LightItalic-webfont.ttf') format('truetype'), url('fonts/OpenSans-LightItalic-webfont.svg#OpenSansLightItalic') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'OpenSansRegular';
  src: url('fonts/OpenSans-Regular-webfont.eot');
  src: url('fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/OpenSans-Regular-webfont.woff') format('woff'), url('fonts/OpenSans-Regular-webfont.ttf') format('truetype'), url('fonts/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'OpenSansItalic';
  src: url('fonts/OpenSans-Italic-webfont.eot');
  src: url('fonts/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/OpenSans-Italic-webfont.woff') format('woff'), url('fonts/OpenSans-Italic-webfont.ttf') format('truetype'), url('fonts/OpenSans-Italic-webfont.svg#OpenSansItalic') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'OpenSansSemibold';
  src: url('fonts/OpenSans-Semibold-webfont.eot');
  src: url('fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/OpenSans-Semibold-webfont.woff') format('woff'), url('fonts/OpenSans-Semibold-webfont.ttf') format('truetype'), url('fonts/OpenSans-Semibold-webfont.svg#OpenSansSemibold') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'OpenSansSemiboldItalic';
  src: url('fonts/OpenSans-SemiboldItalic-webfont.eot');
  src: url('fonts/OpenSans-SemiboldItalic-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/OpenSans-SemiboldItalic-webfont.woff') format('woff'), url('fonts/OpenSans-SemiboldItalic-webfont.ttf') format('truetype'), url('fonts/OpenSans-SemiboldItalic-webfont.svg#OpenSansSemiboldItalic') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'OpenSansBold';
  src: url('fonts/OpenSans-Bold-webfont.eot');
  src: url('fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/OpenSans-Bold-webfont.woff') format('woff'), url('fonts/OpenSans-Bold-webfont.ttf') format('truetype'), url('fonts/OpenSans-Bold-webfont.svg#OpenSansBold') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'OpenSansBoldItalic';
  src: url('fonts/OpenSans-BoldItalic-webfont.eot');
  src: url('fonts/OpenSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/OpenSans-BoldItalic-webfont.woff') format('woff'), url('fonts/OpenSans-BoldItalic-webfont.ttf') format('truetype'), url('fonts/OpenSans-BoldItalic-webfont.svg#OpenSansBoldItalic') format('svg');
  font-weight: normal;
  font-style: normal; }

/* Nav */
.slicknav_menu {
  display: none; }

.nav {
  position: absolute;
  z-index: 2;
  top: 0;
  background: rgba(255, 255, 255, 0.7);
  width: 100%;
  height: 105px; }
  .nav .nav-items {
    float: right; }
  .nav div.title {
    display: inline-block;
    padding: 10px; }
    .nav div.title img {
      height: 100%;
      padding: 0; }
  .nav ul {
    display: inline-block; }
    .nav ul li {
      display: inline-block;
      padding-left: 40px; }
      .nav ul li a {
        line-height: 105px;
        text-align: right;
        font-size: 18px;
        text-decoration: none;
        color: black; }
      .nav ul li a:hover {
        color: #F05A28; }

@media screen and (max-width: 1070px) {
  /* #menu is the original menu */
  #menu {
    display: none; }
  .slicknav_menu {
    display: block;
    position: absolute;
    right: 0;
    z-index: 3;
    background: none; }
    .slicknav_menu .slicknav_btn {
      background: none; }
    .slicknav_menu .slicknav_menutxt {
      display: none; }
    .slicknav_menu .slicknav_icon-bar {
      background-color: black; }
    .slicknav_menu .slicknav_icon {
      margin-top: 15px;
      padding-bottom: 18px; }
  ul.slicknav_nav {
    background: rgba(255, 255, 255, 0.7);
    margin-top: 70px;
    margin-right: -5px; }
    ul.slicknav_nav li a {
      color: black; }
    ul.slicknav_nav li a:hover {
      background: #F05A28;
      color: white; }
  .nav {
    height: 75px; }
    .nav div.title img {
      height: 55px; } }

/* Drunk Cats */
/* Drunk Cats */
@keyframes kittyshake {
  0% {
    transform: rotate(0deg); }

  50% {
    transform: rotate(30deg); }

  100% {
    transform: rotate(0deg); } }

.drunkcats {
  height: 300px;
  width: 300px;
  background: url('../img/drunkcats.png') center no-repeat;
  background-size: contain;
  position: absolute;
  z-index: 5;
  display: none;
  animation: kittyshake 1s ease infinite; }

/* Base */
body {
  background: white;
  font-family: 'OpenSansRegular', Helvetica, Sans-serif; }

button {
  border-radius: 30px;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 14px;
  font-family: 'OpenSansSemibold';
  margin: 0;
  margin-right: 10px; }

button.orange:hover {
  background-color: #CE481B; }

button.blue:hover {
  background-color: #0D5892; }

/* General Styles */
.blue {
  background: #1B75BB; }

.center {
  margin: 0 auto;
  display: block; }

.half {
  width: 50%; }

.none {
  display: none; }

.orange {
  background: #F05A28; }

/* General Text Style */
h1, h2, h3, p {
  font-family: 'OpenSansRegular', Helvetica, Sans-serif;
  margin: 0; }

h1 {
  font-size: 50px; }

h2 {
  font-size: 29px; }

h3 {
  font-size: 22px; }

h4 {
  font-size: 20px;
  font-family: 'OpenSansLightItalic'; }

p, input, select {
  font-size: 16px; }

.andada {
  font-family: 'Andada', serif; }

.bold {
  font-family: 'OpenSansBold'; }

.grey {
  color: #6D6E70; }

.white {
  color: white; }

/* First Section Styles */
input[type="text"], select {
  background-color: #F2F2F2;
  color: #808284;
  font-family: 'OpenSansLight'; }

.form p {
  padding: 10px 0; }

.first {
  padding-top: 50px;
  padding-bottom: 50px; }
  .first h2 {
    padding-bottom: 15px; }
  .first p {
    padding-bottom: 15px; }

/* Hero Tile Styles */
.hero-tile {
  background: url("../img/hero.jpg") center center;
  background-size: cover;
  padding: 105px 0 40px 0; }
  .hero-tile h1 {
    font-family: 'OpenSansSemibold';
    padding: 35px 0; }

/* Bubbling */
.hero-tile {
  overflow: hidden;
  position: relative; }

/* Bubble Animating */
@keyframes popup {
  0% {
    transform: translateY(150px); }

  10% {
    transform: translateY(20px); }

  20% {
    transform: translateY(0px); }

  80% {
    transform: translateY(20px); } }

.bubble {
  transform: translateY(340px);
  /* animation: popup 0.3s ease infinite; */
  width: 50px;
  height: 50px; }

@keyframes bubbleup {
  0% {
    top: 500px;
    opacity: 1; }

  50% {
    opacity: 1; }

  100% {
    top: 0;
    opacity: 0; } }

#b2, #b1, #b3, #b4 {
  width: 75px;
  height: 75px;
  position: absolute;
  top: 500px;
  animation: bubbleup 2s ease infinite; }
  #b2:nth-child(2), #b1:nth-child(2), #b3:nth-child(2), #b4:nth-child(2) {
    animation-delay: 0.2s; }
  #b2:nth-child(3), #b1:nth-child(3), #b3:nth-child(3), #b4:nth-child(3) {
    animation-delay: 0.4s; }
  #b2:nth-child(4), #b1:nth-child(4), #b3:nth-child(4), #b4:nth-child(4) {
    animation-delay: 0.6s; }

#b1, #b3 {
  width: 35px;
  height: 35px; }

/* Content Block Styles */
.content {
  background: #F2F2F2; }
  .content .row {
    padding-top: 50px; }
  .content h1, .content h2, .content h3, .content h4 {
    text-align: center;
    line-height: 1.5em; }
  .content h1 {
    font-size: 44px; }
  .content .padbottom {
    padding-bottom: 35px;
    padding-top: 35px; }

.icon-img {
  height: 60px;
  width: 100%;
  margin: 20px 0; }

/*
.bike {
	background:url("icons/icon-direct-to-you.png") center no-repeat;
	background-size:contain;
}

.bike:hover {
	background:url("icons/icon-direct-to-you.gif") center no-repeat;
	background-size:contain;
}

.glass {
	background:url("icons/icon-pub-less.png") center no-repeat;
	background-size:contain;
}

.hand {
	background:url("icons/icon-peace-of-mind.png") center no-repeat;
	background-size:contain;
}

.monkey {
	background:url("icons/icon-expert-advice.png") center no-repeat;
	background-size:contain;
} */
/*Animating Icons */
#bike, #glass, #hand, #monkey {
  height: inherit;
  margin: 0px auto;
  display: block; }

.bike:hover .topline, .bike:hover .bottomline {
  animation: linemove 0.6s ease infinite; }
.bike:hover .bottomline {
  animation-delay: 0.2s; }

@keyframes linemove {
  0% {
    transform: translateX(0); }

  50% {
    transform: translateX(15px); }

  100% {
    transform: translateX(0); } }

.glass:hover #wave {
  animation: wavemove 0.6s ease infinite; }

@keyframes wavemove {
  0% {
    transform: translateY(0); }

  50% {
    transform: translateY(5px); }

  100% {
    transform: translateY(0); } }

.hand:hover #thumb {
  animation: thumbmove 0.6s ease infinite; }

@keyframes thumbmove {
  0% {
    transform: rotateZ(0deg); }

  50% {
    transform: rotateZ(7deg); }

  100% {
    transform: rotateZ(0deg); } }

.monkey:hover #mouth {
  animation: smile 0.6s ease infinite; }

@keyframes smile {
  0% {
    transform: scaleY(0.9); }

  50% {
    transform: scaleY(1); }

  100% {
    transform: scaleY(0.9); } }

/* Footer Styles */
footer {
  background: #404041;
  padding: 40px 0; }
  footer div.barrell {
    float: right; }
  footer div.large-4.columns.address {
    float: left; }
  footer p {
    font-size: 14px; }
  footer img {
    float: right; }

@media screen and (max-width: 1020px) {
  h1, h2, h3, p {
    text-align: center; }
  h1, .content h1 {
    font-size: 35px; }
  h2 {
    font-size: 24px; }
  .title {
    width: 100%; }
    .title img {
      display: block;
      margin: 0 auto; }
  .row.first h2 {
    padding-bottom: 35px;
    font-size: 35px; }
  .row.first .columns {
    padding: 0; }
    .row.first .columns h1, .row.first .columns h2, .row.first .columns p {
      padding-right: 20px;
      padding-left: 20px; }
    .row.first .columns h2 {
      padding-bottom: 35px; }
    .row.first .columns p {
      padding-top: 18px; }
  .row.first .main p {
    background-color: #F2F2F2; }
  .row.first .form {
    padding: 20px 20px 0 20px; }
    .row.first .form p {
      font-size: 18px; }
  .learnmore {
    margin: 0 auto;
    display: block; }
  .form {
    padding: 0 20px; }
  div.buttons {
    margin: 0 auto;
    display: table; }
  .content {
    padding: 0; }
    .content h1 {
      padding-bottom: 20px; }
    .content .diffhead {
      padding-bottom: 25px; }
      .content .diffhead h2 {
        padding-right: 35px;
        padding-left: 35px; }
    .content .diff {
      padding-top: 25px;
      background-color: white; }
  footer p {
    text-align: center; }
  footer img {
    float: none;
    margin: 0 auto;
    display: block;
    padding-bottom: 35px;
    padding-left: 30px; } }

@media screen and (max-width: 500px) {
  button {
    margin: 0 auto;
    display: block;
    padding-right: 100px;
    padding-left: 100px; }
  .buttons {
    padding-top: 35px; }
    .buttons button.advice {
      margin-bottom: 20px; } }
